In [4]:
#Linear Regression : Predicting a real-valued number [Prediction]

#Logistic Regression : Predicting the category to which a data point belongs[Classification]

In [5]:
import pandas as pd
import plotly.express as pe

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, precision_score, recall_score, classification_report

In [7]:
link = "./datasets/Balanced_credit_Risk.csv"
df = pd.read_csv(link)
df.drop(columns=["Unnamed: 0", 'index'], inplace=True)
df

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
2,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
3,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
4,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2
...,...,...,...,...,...,...,...,...,...,...,...,...
12401,30,102540,MORTGAGE,6.0,HOMEIMPROVEMENT,A,1500,7.90,0,0.01,N,5
12402,24,60000,RENT,0.0,PERSONAL,B,12000,12.21,0,0.20,N,2
12403,22,40000,RENT,0.0,EDUCATION,C,6000,12.87,0,0.15,Y,3
12404,22,50000,RENT,2.0,PERSONAL,C,8000,13.16,0,0.16,Y,2
12405,24,108000,RENT,8.0,EDUCATION,B,5000,12.69,0,0.05,N,4

In [ ]:
df.columns

Index(['person_age', 'person_income', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate', 'loan_status', 'loan_percent_income',
       'cb_person_default_on_file', 'cb_person_cred_hist_length'],
      dtype='object')

In [ ]:
features = df[      ['person_income','person_age', 'loan_amnt','loan_int_rate']       ].copy() #[    []   ] dataframe
target = df[    'loan_status'     ].copy() #series []

In [ ]:
x_train, x_test, Y_train, Y_test = train_test_split( features, target, test_size=0.2, random_state=10   )

In [ ]:
model = LogisticRegression()
model.fit(x_train,Y_train)

LogisticRegression()

### Testing the model

In [ ]:
predicted_values = model.predict(  x_test   )

predicted_df = pd.DataFrame( predicted_values, columns=['Predicted_Status'])

actual_df = Y_test.copy().reset_index(drop=True)

result_df = pd.concat([predicted_df,actual_df], axis=1)

result_df

      Predicted_Status  loan_status
0                    0            0
1                    1            0
2                    1            1
3                    1            0
4                    0            0
...                ...          ...
2477                 0            0
2478                 0            1
2479                 1            0
2480                 1            0
2481                 0            0

[2482 rows x 2 columns]

In [ ]:
confusion_matrix(     Y_test, predicted_df   )

array([[876, 375],
       [283, 948]], dtype=int64)

In [ ]:
print( classification_report(   Y_test, predicted_df    ))

              precision    recall  f1-score   support

           0       0.76      0.70      0.73      1251
           1       0.72      0.77      0.74      1231

    accuracy                           0.73      2482
   macro avg       0.74      0.74      0.73      2482
weighted avg       0.74      0.73      0.73      2482

In [ ]:
import pickle

In [ ]:
pickle.dump(model, open("credit_model.pkl", "wb"))

NameError: name 'pickle' is not defined